/*
* Black: #000000
* White: #FFFFFF
* Red: #FF1616
*/

/* HTML & BODY */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

/* NAVBAR */

.navbar {
    flex: 0 1 auto;
    background-color: #000;
    text-align: center;
}

.navbar img {
    width: 100px;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
}

.nav-link:hover {
    opacity: 0.8;
    color: #ffffff;
    font-weight: bold;
}

/* MAP */

#map {
    /*position: absolute;*/
    flex: 1 1 auto;
    width: 100%;
    height: 85%;
}

.unit-list {
    margin: 0px;
    padding: 0px;
}

.unit-list li {
    margin-top: 10px;
    list-style-type: none;
}

.unit-btn {
    padding: 15px 10px 10px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #888;
    border-bottom: 3px solid #000;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px #888;
    text-align: left;
}

.unit-btn:hover {
    opacity: 0.8;
}

.unit-btn:active {
    opacity: 1;
    border-bottom: 3px solid #ff1616;
}

#unit-btn-active {
    border-bottom: 3px solid #ff1616;
}

.unit-btn h3 {
    font-size: 18px;
    color: #222222;
    font-family: Arial;
    font-weight: bold;
}

.unit-btn p {
    font-size: 14px;
    color: #222222;
    font-family: Arial;
    font-weight: normal;
    line-height: 0px;
}
