<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css" />
        <script src="static/js/index.js"></script>
    </head>
    <body>
        <h1>Locator Pointer System (LPS)</h1>
        <div id="map"></div>

        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly" async></script>
    </body>
</html>