<html>
    <head>
    </head>
    <body style="margin: 0; padding: 1em;">
        <header style="position: relative; text-align: center;">
            <img alt="lps-logo" src="logo_menu.png" style="width: 20em;" />
            <h1 style="padding-bottom: 10px; font-family: Arial; font-size: 2em; font-weight: bold; color: #000000;">
                New Alert Point Has Been Received
            </h1>
            <a href="http://fernandoleira.me/map" style="padding: 1em; font-family: Arial; font-weight: bold; text-decoration: none; color: #FFFFFF; background-color: #FF1616; border: 3px solid #000000; border-radius: 0.5em;">
                Go to the LPS Map
            </a>
        </header>
        <br />
        <main style="padding: 1em;">
            <div style="margin: 0px auto; padding: 1em; width:500px;">
                <ul style="list-style: none; text-align: left; font-family: Arial; padding: 0; margin: 0px;">
                    <li style="line-height: 2em;"><b>Id:</b> {{ point.point_id }}</li>
                    <li style="line-height: 2em;"><b>Title:</b> {{ point.title }}</li>
                    <li style="line-height: 2em;"><b>Description:</b> {{ point.description }}</li>
                    <li style="line-height: 2em;"><b>Latitude:</b> {{ point.lat }}</li>
                    <li style="line-height: 2em;"><b>Longitude:</b> {{ point.lon }}</li>
                    <li style="line-height: 2em;"><b>Created At:</b> {{ point.created_at }}</li>
                    <li style="line-height: 2em;"><b>Unit Id:</b> {{ point.unit_id }}</li>
                </ul>
            </div>
            <br />
            <div style="text-align: center;">
                <img alt="lps-map" src="https://maps.googleapis.com/maps/api/staticmap?center={{ point.lat }},{{ point.lon }}&zoom=16&size=500x500&maptype=roadmap
                &markers=icon:https://raw.githubusercontent.com/fernandoleira/lps-platform/main/lps/static/img/red_marker.png%7C{{ point.lat }},{{ point.lon }}&format=png32&key={{ google_api_key }}"
                style="border: 2px solid #222; border-radius: 1%; box-shadow: 3px 3px 10px #888;"/>
            </div>
        </main>
    </body>
</html>